<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="xbot2_base">
  <link name="base_footprint"/>
  <joint name="base_footprint_to_base" type="fixed">
    <axis rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="base_link">
    <inertial>
      <origin  xyz="-0.0033678 -0.047443 0.62953" rpy="0 0 0" />
      <mass value="12.609" />
      <inertia ixx="0.82582" ixy="-0.0019603" ixz="-0.00043035" iyy="0.92115" iyz="0.0013243" izz="0.2601" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://xbot2_description/meshes/base_link.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://xbot2_description/meshes/base_link.dae" />
      </geometry>
    </collision>
  </link>

  <link name="laser_mount_link"/>
  <joint name="base_to_laser" type="fixed">
    <axis rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base_link"/>
    <child link="laser_mount_link"/>
    <origin rpy="0 3.1416 3.1416" xyz=".118 0 .253"/>
  </joint>



  </xacro:macro>
</robot>
